Django==5.1.6
djangorestframework==3.15.2
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.3
pandas==2.2.3
plotly==6.0.0
prophet==1.1.6
psycopg2==2.9.10
python-dotenv==1.0.1
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
spacy==3.8.4
streamlit==1.43.0
textblob==0.19.0
tweepy==4.15.0
